<form action="/number" method="GET">
    <label>Enter the number code in which you want the conversion</label> 
    <select name="obj[curr]">
        <option value="1">INR</option>
        <option value="2">EUR</option>
        <option value="3">PKR</option>
    </select>
    <label for="val">enter the amount in USD</label>
    <input type="Number" name="obj[val]">
    <button>submit</button>
</form>